- name: Create admission config file for EventRateLimit
  ansible.builtin.template:
    src: admission-config.yaml.j2
    dest: "{{ eventratelimit_config_file | default('/etc/kubernetes/admission-config.yaml') }}"
    owner: root
    group: root
    mode: 0644

- name: Ensuring audit folder is present on machine
  ansible.builtin.file:
    name: "{{ audit_log_dir }}"
    state: directory

- name: Ensuring audit config file is present on machine
  ansible.builtin.copy:
    src: audit.yml
    dest: "{{ audit_policy_config_path }}"

- name: Ensuring encryption config is present on machine
  ansible.builtin.copy:
    src: "{{ kubernetes_encryption_config }}"
    dest: "{{ kubernetes_remote_encryption_config }}"
  when: kubernetes_encryption_config != ""

- name: Ensuring kubeadm.yml config file is present on machine
  ansible.builtin.template:
    src: kubeadm.yml.j2
    dest: "{{ kubeadm_config_file }}"
  register: kubeadm_template

- name: Ensuring kubeconfig variable
  ansible.builtin.copy:
    src: kube.sh
    dest: /etc/profile.d/kube.sh

- name: Check that the /etc/kubernetes/admin.conf exists
  ansible.builtin.stat:
    path: /etc/kubernetes/admin.conf
  register: admin_conf_stat_result

- name: Check that the /etc/kubernetes/super-admin.conf exists
  ansible.builtin.stat:
    path: /etc/kubernetes/super-admin.conf
  register: super_admin_conf_stat_result
  when: kubernetes_version is version('1.29.0', 'ge', version_type='semver')

# We are patching the bind-address of the kube-scheduler and kube-controller-manager
# to be able to scrape metrics from them (kubeadm's feault is 127.0.0.1), we have
# to patch the liveness and startup probe too in consequence.
- name: Ensuring the patches directory exists
  ansible.builtin.file:
    path: "{{ kubeadm_patches_path }}"
    state: directory
    mode: "0755"

- name: Copy kube-scheduler patch files
  ansible.builtin.template:
    src: patches/kube-scheduler0+json.json.j2
    dest: "{{ kubeadm_patches_path }}/kube-scheduler0+json.json"

# Kubernetes 1.32+ introduces the readinessProbe in kube-scheduler, so
# we need two patch files to manage this. Kubeadm applies all patches that follow the
# naming pattern kube-scheduler<INDEX>+json.json, where <INDEX> determines application order.
# Now we have 2 patches, the index 0 common for all versions and the index 1
# that's applied on top only for K8s 1.32.0 or newer.
- name: Copy kube-scheduler patch files for versions greater than or equal to 1.32.0
  ansible.builtin.template:
    src: patches/kube-scheduler1+json.json.j2
    dest: "{{ kubeadm_patches_path }}/kube-scheduler1+json.json"
  when: kubernetes_version is version('1.32.0', 'ge', version_type='semver')

- name: Copy kube-controller-manager patch files
  ansible.builtin.template:
    src: patches/kube-controller-manager0+json.json.j2
    dest: "{{ kubeadm_patches_path }}/kube-controller-manager0+json.json"

- name: Ensuring the kubeadm-config directory exists
  ansible.builtin.file:
    path: "{{ kubeadm_config_path }}"
    state: directory
    mode: "0755"

- name: Reconfigure kube-* components
  ansible.builtin.include_tasks: reconfigure-kube-star-components.yml
  when:
    - super_admin_conf_stat_result.stat.exists or admin_conf_stat_result.stat.exists
    - kubeadm_template.changed

- name: Initializing master
  ansible.builtin.command: "kubeadm init --config={{ kubeadm_config_file }}"
  when:
    - (not super_admin_conf_stat_result.stat.exists | default(false)) and (not admin_conf_stat_result.stat.exists)

- name: Getting bootstrap token
  ansible.builtin.shell: "kubeadm token create --ttl=30m"
  register: kubernetes_bootstrap_token

- name: Getting Kubernetes CA hash
  ansible.builtin.shell: "openssl x509 -pubkey -in /etc/kubernetes/pki/ca.crt | openssl rsa -pubin -outform der 2>/dev/null | openssl dgst -sha256 -hex | sed 's/^.* /sha256:/'"
  register: kubernetes_ca_hash

- name: Creating users kubeconfig folder
  ansible.builtin.file:
    name: "{{ kubernetes_users_kubeconfig_dir }}"
    state: directory

- name: Creating Kubernetes Users with kubeadm
  ansible.builtin.shell: "kubeadm kubeconfig user --config={{ kubeadm_config_file }} --client-name={{item}} --org={{kubernetes_users_org}} > {{ kubernetes_users_kubeconfig_dir }}/{{item}}.kubeconfig"
  with_items: "{{ kubernetes_users_names }}"

- name: Fix Kuberneters API server address in generated kubeconfigs
  ansible.builtin.replace:
    path: "{{ kubernetes_users_kubeconfig_dir }}/{{item}}.kubeconfig"
    regexp: '^(\s*server: https://).*$'
    replace: '\1{{ kubernetes_control_plane_address }}'
  with_items: "{{ kubernetes_users_names }}"

- name: Getting kubeconfig files from master
  run_once: true
  ansible.builtin.fetch:
    src: "{{ kubernetes_users_kubeconfig_dir }}/{{item}}.kubeconfig"
    dest: "{{ kubernetes_kubeconfig_path }}/{{item}}.kubeconfig"
    flat: true
  with_items: "{{ kubernetes_users_names }}"

- name: Getting admin.conf kubeconfig
  run_once: true
  ansible.builtin.fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ kubernetes_kubeconfig_path }}/admin.conf"
    flat: yes

- name: Getting super-admin.conf kubeconfig
  run_once: true
  ansible.builtin.fetch:
    src: /etc/kubernetes/super-admin.conf
    dest: "{{ kubernetes_kubeconfig_path }}/super-admin.conf"
    flat: yes
  when: (super_admin_conf_stat_result.stat.exists | default(false)) and (kubernetes_version is version('1.29.0', 'ge', version_type='semver'))

- name: Check if kubelet config file exists
  ansible.builtin.stat:
    path: /var/lib/kubelet/config.yaml
  register: kubelet_config_file

- name: Reconfigure kubelet
  ansible.builtin.include_tasks: reconfigure-kubelet.yml
  when: kubelet_config_file.stat.exists

- name: Ensure kubelet config.yaml has restricted permissions
  ansible.builtin.file:
    path: /var/lib/kubelet/config.yaml
    owner: root
    group: root
    mode: '0600'
  when: kubelet_config_file.stat.exists

- name: Ensure that the kubelet service config file exists and has correct permissions
  ansible.builtin.file:
    path: /usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf
    owner: root
    group: root
    mode: '0600'

- ansible.builtin.include_tasks: upgrade.yml
  when: upgrade

- name: Set correct pki file permissions 
  ansible.builtin.include_tasks: check_pki_file_permissions.yaml

- name: Ensuring kubelet-csr-approver.yaml file is present
  ansible.builtin.copy:
    src: kubelet-csr-approver.yaml
    dest: /etc/kubernetes/kubelet-csr-approver.yaml

- name: Apply kubelet-csr-approver CronJob
  ansible.builtin.shell: >
    kubectl apply --kubeconfig /etc/kubernetes/admin.conf -f /etc/kubernetes/kubelet-csr-approver.yaml --server-side
  changed_when: false
