- name: Ensuring the kubelet-config directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ kubelet_config_path }}/patches/"
    - "{{ kubelet_config_path }}/backups/"

- name: Set timestamp
  ansible.builtin.set_fact:
    timestamp: "{{ lookup('pipe', 'date +%Y-%m-%d_%H-%M-%S') }}"

- name: Backup current kubelet configuration file
  ansible.builtin.copy:
    src: /var/lib/kubelet/config.yaml
    dest: "{{ kubelet_config_path }}/backups/kubelet-config-backup-{{ timestamp }}.yaml"
    remote_src: true
    mode: '0600'

- name: Generate KubeletConfiguration patches file from template
  ansible.builtin.template:
    src: KubeletConfiguration-v1beta1.yml.j2
    dest: "{{ kubelet_config_path }}/patches/kubeletconfiguration.yaml"
    mode: '0600'
  register: kubelet_patch_result
  when: not upgrade
  notify:
    - Apply kubelet-config patches
    - Restart kubelet
    - Kubelet verifications

- name: Apply kubelet config patch if newer than current config
  when: not upgrade
  block:
    - name: Stat kubelet config file
      ansible.builtin.stat:
        path: /var/lib/kubelet/config.yaml
      register: kubelet_config

    - name: Stat kubelet patch file
      ansible.builtin.stat:
        path: "{{ kubelet_config_path }}/patches/kubeletconfiguration.yaml"
      register: kubelet_patch

    - name: DEBUG - patch kubeletconfiguration.yaml più nuova di config.yaml
      ansible.builtin.debug:
        msg: "Patch kubeletconfiguration.yaml: {{ kubelet_patch.stat.mtime }} è più nuova di /var/lib/kubelet/config.yaml: {{ kubelet_config.stat.mtime }}"
      when:
        - not kubelet_patch_result.changed
        - kubelet_patch.stat.exists
        - kubelet_config.stat.exists
        - kubelet_patch.stat.mtime > kubelet_config.stat.mtime

    - name: Fix old kubelet config if patch is newer
      ansible.builtin.shell: |
        kubeadm upgrade node phase kubelet-config --patches {{ kubelet_config_path }}/patches/
      when:
        - not kubelet_patch_result.changed
        - kubelet_patch.stat.exists
        - kubelet_config.stat.exists
        - kubelet_patch.stat.mtime > kubelet_config.stat.mtime
      notify:
        - Restart kubelet
        - Kubelet verifications
