# - name: getting etcd and role dependencies
#   apt:
#     name:
#       - tar
#       - git
#       - curl
#     state: present
- name: Ensure group etcd exists
  ansible.builtin.group:
    name: etcd
    state: present
    system: true

- name: Ensure user etcd exists
  ansible.builtin.user:
    name: etcd
    group: etcd
    system: true
    shell: /sbin/nologin
    create_home: false

- name: Generating TLS certificates
  ansible.builtin.import_tasks: tls.yml

- name: Set correct etcd file permissions 
  ansible.builtin.include_tasks: check_etcd_file_permissions.yaml

- name: Installing and configuring etcd
  ansible.builtin.import_tasks: install.yml

- name: Enabling and starting etcd
  ansible.builtin.systemd:
    name: etcd
    daemon_reload: true
    enabled: true
    state: started

- name: Renewal etcd certificates
  ansible.builtin.import_tasks: certs_renewal.yaml
  when: etcd_upgrade

- name: Distribute etcd certificates from etcd to control plane nodes
  ansible.builtin.import_tasks: certs_distribution.yaml
  when: not etcd_on_control_plane
