---
etcd_name: "{{ inventory_hostname }}"
# check the const SupportedEtcdVersion on this source https://github.com/kubernetes/kubernetes/blob/v1.32.3/cmd/kubeadm/app/constants/constants.go (change the version accordingly)
etcd_version: v3.5.24 # as indicated here https://etcd.io/docs/v3.6/upgrades/upgrade_3_6/, before upgrading to version 3.6, make sure that all 3.5 members are updated to at least 3.5.24
etcd_download_url: https://storage.googleapis.com/etcd
etcd_data_dir: /var/lib/etcd
etcd_binary_dir: /usr/local/bin
etcd_config_dir: /etc/etcd
etcd_certs_dir: /etc/etcd/pki
etcd_address: "{{ ansible_default_ipv4.address }}"
etcd_initial_cluster: "https://localhost:2380"
etcd_initial_cluster_state: "new"
etcd_client_address: 127.0.0.1
etcd_certs:
  - etcd/ca.crt
  - apiserver-etcd-client.crt
  - apiserver-etcd-client.key
etcd_on_control_plane: true
etcd_upgrade: false
etcd_local_pki_dir: ""
