apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kubernetes_control_plane_address }}
    token: {{ kubernetes_bootstrap_token }}
    caCertHashes:
      - {{ kubernetes_ca_hash }}
nodeRegistration:
  name: {{ kubernetes_hostname }}
  kubeletExtraArgs:
    - name: cloud-provider
      value: {{ kubernetes_cloud_provider | to_json }}
    - name: node-labels
      value: {{ ('node.kubernetes.io/role=' ~ kubernetes_role) | to_json }}
{% if kubernetes_taints | length > 0 %}
  taints:
{{ kubernetes_taints | to_nice_yaml | indent(4, true) }}
{%- endif -%}
